.navbar {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #3d84b0;
}

.menu-bars {
  font-size: 2rem;
  background: none;
  height: 100%;
  color: #fff;
}

.nav-menu {
  
  width: 100%;
  height: 100vh;
  display: flex;
  color: #fff;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.239);
}
.sidebar-menu{
  z-index: 1;
  width: 350px;
  height: 100%;
  position: fixed;
  left: -100%;
 
  display: flex;
  justify-content: center;
  transition: left 150ms ease-in-out;
  background-color: #3e85b0;
}
.nav-menu.active .sidebar-menu{
  transition: 150ms;
  left: 0;
}
.nav-menu.active {
  left: 0;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a,
.nighticon {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #262631;
  transition: all 0.2s ease-in;
}

.nav-menu-items {
  width: 100%;
  padding: 2px;
  position: relative;
  /* border: 1px solid #000; */
}
.nav-menu-items .image-profile {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.091);
  margin-inline: 10px;
  margin-bottom: 20px;
}
.image-profile .navbar-toggle {
  background-color: #3e85b0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

span {
  margin-left: 16px;
}

 
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}


  
  
