.main__chatcontent {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
}
.content__header {
  background: #3d84b0;
  width: 100%;
  color: #fff;
  padding: 15px;
  border: 1px solid #ffffff0f;
}
.current-chatting-user {
  display: flex;
  align-items: center;
}
.current-chatting-user p {
  margin: 0;
  font-weight: 600;
}
.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings .btn-nobg {
  color: #000;
}
.content__body {
  overflow: auto;
  flex: 1;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  border-left: 1px solid rgba(0, 0, 0, 0.071);
  border-right: 1px solid rgba(0, 0, 0, 0.071);
  padding-inline: 1.5rem;
  border: 1px solid #ffffff0f;
}
.chat__item {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 15px;
  transition: all 0.2s ease;
  transform: scale(0);
  transform-origin: right;
  animation-name: showIn;
  animation-duration: 0.2s; /* or: Xms */
  animation-iteration-count: 1;
  animation-direction: normal; /* or: normal */
  animation-timing-function: cubic-bezier(
    0.44,
    0.19,
    0.37,
    1.11
  ); /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: both; /* or: backwards, both, none */
  animation-delay: 0.1s; /* or: Xms */
}
@keyframes showIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.chat__item .avatar {
  margin-right: 0px;
  margin-left: 20px;
  background: #fff;
  padding: 1px;
}

.chat__item__content {
  background-color: #3e85b0;
  color: #fff;
  padding: 15px;
  border-radius: 10px 10px 0 10px;
  max-width: 50%;
  min-width: 215px;
  border: 1px solid #00000031;
  overflow: hidden;
}

.chat__item__content .chat__meta {
  justify-content: space-between;
  display: flex;
  margin-top: 10px;
}

.chat__item__content .chat__meta span {
  font-size: 14px;
  color: #ffffffbe;
  user-select: none;
}

.chat__msg {
  user-select: none;
}

.chat__item.other {
  flex-direction: row-reverse;
  transform-origin: left;
}

.chat__item.other .chat__item__content {
  background-color: #fff;
  color: #000;
  border-radius: 10px 10px 10px 0;
  max-width: 50%;
}

.chat__item.other .avatar {
  margin-right: 20px;
  margin-left: 0px;
}

.chat__item.other .chat__item__content .chat__meta span {
  color: #d1d1d1;
}

.content__footer {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ffffff0f;
}

.sendNewMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
}
.sendNewMessage .attachment-options button {
  width: fit-content;
  margin: 5px;
  padding-inline: 10px;
}

.sendNewMessage button {
  width: 36px;
  height: 36px;
  background-color: #ecefff;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #4665ff;
  padding: 0;
  border-radius: 5px;
  line-height: 36px;
  transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
}

.sendNewMessage button:hover:not(.sendMsgBtn) {
  transform: scale(1.2);
}

.sendNewMessage button i {
  display: block;
}

.sendNewMessage input {
  flex-grow: 1;
  padding: 15px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.102);
}

.sendNewMessage .sendMsgBtn {
  background-color: #3b5bfe;
  padding: 0;
  color: #fff;
  border-radius: 50%;
  overflow: hidden;
  width: 45px;
  height: 45px;
}
.audioRecorder {
  display: flex;
  align-items: center;
}

.audioRecorder button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 24px;
  margin-left: 10px;
}

.recordingTimer {
  margin-left: 10px;
  font-size: 14px;
  color: #4665ff;
}
