.main__chatbody {
  flex-grow: 1;
  background-color: #f4f3f8;
  padding: 15px 25px;
  display: flex;
  width: 100%;
  height: 100%;
  border-left: 1px solid #ffffff0f;
  /* border: 1px solid red; */
}
